<section>
	<div class="hero-unit">
		<h1>Statistiques du server</h1>
		<p>
			This page is for displaying the statistics of the server that serves this page for displaying the statistics of the server.
		</p>
	</div>
	<div class="row">
	<div class="span4">
	  <h2>Uptime</h2>
	  <p data-server="uptime: 1"><p>
	</div>
	<div class="span4">
	  <h2>Platform</h2>
	  <p data-server="platform: 0"></p>
	</div>
	<div class="span4">
	  <h2>memoryUsage</h2>
	  <p data-server="memoryUsage: rss"></p>
	  <p data-server="memoryUsage: heapTotal"></p>
	  <p data-server="memoryUsage: heapUsed"></p>
	</div>
	</div>
</section>
