<section>
	<div class="hero-unit">
		<h1>Statistiques du server</h1>
		<p>
			This page is for displaying the statistics of the server that serves this page for displaying the statistics of the server.
		</p>
	</div>
	<div class="row">
		<div class="span4">
		  <h2>Uptime</h2>
		  <p data-server="uptime"><p>
		</div>
		<div class="span4">
		  <h2>Platform</h2>
		  <p data-server="platform"></p>
		</div>
		<div class="span4">
		  <h2>memoryUsage</h2>
		  <p>rss: <span data-server="memoryUsage: rss"></span></p>
		  <p>HeapTotal: <span data-server="memoryUsage: heapTotal"></span></p>
		  <p>HeapUsed: <span data-server="memoryUsage: heapUsed"></span></p>
		</div>
	</div>
</section>
